.ib {
    display: inline-block;
    vertical-align: top;
}

p, h4, ul, dl {
    margin: 0;
    padding: 0;
}

#thread-list {
    list-style-type: none;
}

#thread-list li {
    background: #ddd;
    border-bottom: 1px solid #000;
    padding: 3px;
}

#thread-list dl {
    padding: 3px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
}

#thread-list dt,dd {
    padding: 5px;
}

#thread-list dt {
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
}

#thread-list dd {
    -moz-box-flex: 0.0;
    -webkit-box-flex: 0.0;
    box-flex: 0.0;
    border-left: 1px solid #fff;
}

#thread-list-info {
    background: #ccc;
}
