{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ thread.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "forum/style.css" %}">
</head>
<body>
<div>
    <h1>{{ thread.name }}</h1>
    <div id="nav-bc">
        <a href="{% url forum-board-list %}">Home</a> &raquo;
        <a href="{% url forum-board-detail thread.board.pk %}">{{ thread.board.name }}</a> &raquo;
        <a href="{% url forum-thread-detail thread.pk %}">{{ thread.name }}</a>
    </div>
</div>

{% if thread.post_set.all %}
<div>
    {% for post in thread.post_set.all %}
    <div>
        <div class="ib">
            {{ post.poster.username }}<br/>
            and other info<br/>
            about<br/>
            the user
        </div>
        <div class="ib">
            <div>Posted at {{ post.time }}</div>
            <div>
                {{ post.content }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No posts =/<br />
hey wait! that should be impossible! wtfmang</p>
{% endif %}
</body>
</html>
